.banner-content {
    min-height: 674px;
    max-width: 1600px;
    padding : 70px 120px 134px 120px;
    background-image: url(../assets/hero-bg.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}