.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px 16px 120px;
    max-width: 1600px;
}

.navbar ul {
    list-style-type: none;
}

.nav-menu a {
    color: #000000;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    gap : 24px;
    font-weight: 500;
    font-size: 16px;
}

.navbar-logo {
    height: 60px;
    width: 139px;
}

#navbar-GEA-button {
    font-size: 16px;
    font-weight: 600;
    color : #FFFFFF;
}