* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    border: none;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;

    
}

.btn-transparent {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    align-items: center;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid #FFFFFF;
}


